.div1{
  background: #364156; 
  padding: 10px; 
  width: 75%; 
  height: 500px; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 15px;
  display: table;
  position: relative;
  vertical-align: middle;
  z-index: 0;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.div2{
  text-align: center; 
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  border-radius: 15px;
  display: table-cell;
  margin-bottom: 10px;
  padding-right: 20px
}

.spanPaddingDate{
  text-align: center;
  color: darkorange;
  font-weight: bold;
}

.updates:hover{
  padding-bottom: 12px;
  padding-left: 32px;
  transition: all .5s;
  color: #222222;
}

.updates{
  transition: all .5s;
}
